{% extends 'base.html.twig' %}

{% block title %}Crud App
{% endblock %}

{% block body %}


	<main class="container">
		<div class="bg-body-tertiary p-5 rounded">
			<h1>Crud APP</h1>
			<p class="lead">
				Este web app é um crud simples, para demonstrar meus conhecimentos no framework Symfony.
			</p>
            <a class="btn btn-lg btn-dark" href="https://github.com/rccheruti" role="button"><i class="bi bi-github"></i></a>
			<a class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/rogercheruti/" role="button"><i class="bi bi-linkedin"></i></a>
            <a class="btn btn-lg btn-dark" href="https://rcheruti.com" role="button"><i class="bi bi-person-circle"></i></i></a>
		</div>
	</main>


{% endblock %}
